* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: ;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primaria: rgb(81, 239, 23);
    --secundaria: #0a5a20;
    --escuro: #0f2509;
    --maisescuro: #010f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}

.navegacao {
    position: fixed;
    top: 0;
    background: rgba(15, 119, 44, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transform: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.foto-perfil {
    width: 200px;
    min-height: 200px;
    box-shadow: 0 0 20px rgba(126, 227, 119, 0.3);
    border-radius: 60%;
    border: 4px solid var(--vidro);
    justify-content: center;
    align-items: center;
    animation: flutuar 5s ease-in-out infinite;
}

h1 {
    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}

.cabecalho-sub-titulo {
    font-size: 1.5rem;
    color: var(--claro);
}

.sobre {
    padding: 8rem 2rem;
    text-align: center;
}

.Sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.0rem;
}

.projetos {
    padding: 8rem 2rem;
    text-align: center;
    margin: 2rem ;

}

.projetos-images {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;

}

.projetos-tilulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    max-width: 550px;
    margin: 0 auto;
    padding: 2rem;
}

.projetos-cards {

    border: 1px solid var(--vidro);
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    cursor: pointer;
}

.projetos-cards:hover {
    box-shadow: 0 10px 20px rgba(27, 164, 17, 0.3);
    transform: translateY(-10px) scale(1.06);
}

.paragrafos-projetos {
    color: rgba(226, 232, 240, 0.8);
    line-height: 1.25rem
}

.info-projetos {
    margin-bottom: 5px;
}

.contatos {
    padding: 6rem 2rem;
    text-align: center;

}

.contato {
    text-align: center;
    background-color: var(--claro);
    padding: 4rem;
    
}

.contato h2 {
    font-size: 2rem;
    margin-bottom: 0;
}

.contato p {
    margin-bottom: 2.5rem;
    font-size: 1rem;
    padding:6 rem 2rem ;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;
}

.redes-sociais a img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
    
}
.redes-sociais a img:hover {
    transform: scale(1.1);
}

.efeitos {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background:
        radial-gradient(circle at 10% 20%, var(--primaria)0%, transparent 20%),
        radial-gradient(circle at 90% 80%, var(--secundaria)0%, transparent 10%),
        var(--maisescuro);
}
@keyframes flutuar {
    0%, 100% {
        tranforme: translateY(0)
    }
    50% {
        transform: translateY(-20PX);
    }
}

